* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* header */
.zgh_header {
    display: flex;
    text-align: center;
    box-shadow: inset 0 -1px 0 #e8e8e8;
}
.zoho_img img {
    width: 150px;
    height: 55px;
    padding: 8px 40px 3px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.zhg_nav {
   display: flex;
   align-items: center;
   min-height: 60px;
   margin-left: -6px;
}
.zhg_nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}
ul li {
    font-size: 14px;
    position: relative;
}
ul li :last-child {
    font-weight: 800;
}
ul :hover{
    color: skyblue;
}
.down_svg,.Rdown_svg {
   position: absolute;
   top: 3px;
   left: 79px;
}
.zhg_utilities {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    gap: 20px;
}
.zhg_localization-init {
   display: flex;
   gap: 7px;
   font-size: 12px;
   font-weight: 600;
}
.signin {
    color: orangered;
    font-size: 13px;
    margin-left: 35px;
    margin-right: 20px;
}
.zw-product-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.Product-title {
    display:flex;
    gap: 10px;
    
}
.Product-img img {
    width: 45px;
    height: 45px;
}
.Product-display-name p {
font-size: 12px;
font-weight: bold;
}
.Product-navlinks ul {
    display: flex;
    list-style:none;
    gap: 50px;
}
.Product-navlinks ul li {
    font-size: 15px;
}
.Rdown_svg {
    left: 73px;
}
/* secetion1 */
.banner_section {
    padding: 30px 0 50px;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 70px auto 80px;
    gap: 100px;
}
.banner-con {
    padding-top: 55px;
    width: 30%;
}
.banner-con h1 {
    font-size: 63px;
    line-height: 1;
    margin: 0 auto;
}
.banner-con h3 {
    width: 108%;
    font-size: 38px;
    margin-top: 10px;
}
.ban-text {
    margin: 30px 0;
    font-size: 19px;
    width: 110%;
}
.banner-con.ban-text {
    margin-top: 25px;
}
.banner-con p {
    line-height: 1.6;
}
.banner-form {
    width: 28%;
    font-size: 19px;
}
.signup-box {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
    gap: 30px;
    width: 82%;
}
.signup-inner h5 {
    font-size: 20px;
    text-align: left;
}
.input {
    padding: 14px 12px;
    border: 1px solid #d5d5d5;
    display: block;
    width: 370px;
    font-size: 13px;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    transition: .5s ease;
    height: 45px;
    font-family: var(--primaryfont-regular);
    line-height: 1;
    margin-top: 15px;
}
input:focus {
    border-color: skyblue;
}
label {
    position: relative;
}
svg.bi.bi-eye-slash-fill {
    content: "";
    position: absolute;
    top: 35.4%;
    z-index: 1;
    left: 90%;
}
input[type="checkbox"] {
    margin-top: 15px;
}
.checkbox {
    font-size: 12px;
    margin-left: 4px;
    font-weight: 800;
}
.checkbox a {
    text-decoration: underline;
}
.signup-btn {
    font-size: 15px;
    height: 50px;
    padding: 0 60px;
    background: #f0483e;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    width: 98%;
    cursor: pointer;
    font-weight: 600;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 10px;
}
.socl-signup  {
    font-size: 14px;
    margin-top: 20px;
    position: relative;
}
.googleicon img {
    width: 80px;
    position: absolute;
    top: -30%;
    left: 29%;
    cursor: pointer;
}
.linkedinicon img {
    width: 31px;
    position: absolute;
    position: absolute;
    top: -22%;
    left: 54%;
    cursor: pointer;
}
/* section 2 */
.sections-2 {
    padding: 30px 0 50px;
}
.top-amimated {
    position: relative;
    width: 57%;
    margin: 0 auto;
}
.data-loaded img {
    width: 1050px;
    height: 687px;
    box-shadow: 0 0 20px 6px rgb(0 0 0 / 5%);
    border-radius: 20px;
}
.notification-bell {
    width: 200px;
    background: #fff;
    box-shadow: 0 8px 20px 2px rgb(0 0 0 / 7%);
    border-radius: 30px;
    border-top-left-radius: 0;
    padding: 15px 0 15px 60px;
    position: absolute;
    top: 3%;
    right: -10%;
    transform: translateY(50px);
}
.notification-bell img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 21px;
    top: 18px;
}
.f-s {
    font-size: 15px;
    display: block;
    line-height: 1.1;
    font-weight: 700;
}
.l-s {
    font-size: 13px;
    color: #000;
    padding-bottom: 5px;
    display: block;
    line-height: 1.1;
}
.gear-animation {
    width: 200px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 8px 20px 2px rgb(0 0 0 / 7%);
    position: absolute;
    top: 73%;
    left: -3%;
    z-index: 1;
}
.gear_img img {
    content: '';
    background-repeat: no-repeat;
    background-position: -206px -36px;
    background-size: 260px auto;
    position: absolute;
    margin: auto;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: translateY(0);
    animation: smallGear 5s linear .8s infinite;
}
    @keyframes smallGear {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    
.ballf-s {
    font-size: 13px;
    color: #000;
    padding-bottom: 5px;
    display: block;
    line-height: 1.1;
}
.balll-s {
    font-size: 15px;
    display: block;
    line-height: 1.1;
    color: #03d678;
    font-weight: 800;
}
.gear-con {
    position: absolute;
    top: 32px;
    left: 65px;
}
.arrow-left img {
    position: absolute;
    top: 40%;
    width: 30%;
    left: -8%;
}
.shild-left {
    content: '';
    background-repeat: no-repeat;
    background-position: -66px -44px;
    background-size: 300px auto;
    position: absolute;
    margin: auto;
    left: -87px;
    top: 0;
    bottom: -50px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-image: url(https://www.zohowebstatic.com/sites/zweb/images/zeptomail/zeptomail-home-sprite.png);
}
.arrow-right img {
    position: absolute;
    top: 29%;
    width: 30%;
    left: 81%;
} 
.shild-right  img {
    content: '';
    position: absolute;
    margin: auto;
    right: -97px;
    top: -50px;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
/* section3 */
.section-3 {
    padding: 40px 0;
    display: block;
}
.trust-section {
    position: relative;
    width: 57%;
    margin: 0 auto;
}
.tc-left {
    padding: 65px;
    background-color:RGB(237, 248, 255);
    width: 60%;
    border-radius: 10px;
    text-align: center;
}
.trust-title {
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.tex-sm {
    font-size: 14px;
    letter-spacing: 0.5px;
}
.trust {
    display: flex;
    justify-content: center;
}
.b-left {
    width: 50%;
}
.b-left h1 {
    font-size: 70px;
    letter-spacing: 4px;
} 
.b-right h1 {
    font-size: 70px;
    letter-spacing: 4px;
} 
.top-trust {
    display: flex;
    gap: 32px;
}
.tc-right {
    padding: 65px;
    background-color:RGB(255, 248, 217);
    width: 45%;
    border-radius: 18px;
    text-align: center;
}
.s3-Carousel {
    background: #f8f8f8;
    border-radius: 20px;
    padding: 50px 100px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 138px;
}
.Carousel-left img {
    width: 100px;
    height: 100px;
}
.Carousel-btn {
    margin-top: 40px;
    margin-left: 28px;
}
.Carousel-right {
    width: 563px;
}
.Carousel-right p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 20px;
}
.c-name {
    color: skyblue;
    border-right: 1px solid black;
    padding: 0 5px 0 0;
    font-size: 15px;
}
.c-name2 {
    margin-left: 10px;
    font-size: 15px;
} 
p.c-namep {
    font-size: 11px;
}
.c-p {
    text-align: center;
    color:RGB(25, 117, 210);
    font-size: 17px;
    font-weight: 600;
    margin-top: 40px;
}
.section-4 {
    margin-top: 60px;
    display: block;
}
.blue-box {
    background: linear-gradient(180deg,rgba(235,247,255,1) 0%,rgba(255,255,255,1) 100%);
    padding: 120px 0 40px;
    max-width: 1400px;
    margin: 0 auto;
}
.why-con {
    position: relative;
    width: 75%;
    margin: 0 auto;
}
.why-con h2 {
    font-size: 52px;
    line-height: 1.1;
    margin-bottom: 15px;
}
.why-con span {
   display: block;
}
.why-title {
    max-width: 610px;
    margin: 30px 0 15px;
    line-height: 1.8;
    font-size: 17px;
}
.why-con .c-p {
    text-align: start !important;
    margin-top: 0;
}
.why-con ul {
    display: table;
    width: 100%;
    margin: 50px 0 140px;
    list-style: none;
}
.w-box {
    width: 230px;
    float: left;
    border-radius: 15px;
    padding: 90px 20px 40px;
    margin-right: 3%;
    box-shadow: 0 20px 20px 0 rgb(0 0 0 / 5%);
    transform: translateY(40px);  
    transition: transform .7s ease,-webkit-transform .7s ease;
    background: #ffc9d8;
}
.w-icon img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.icon-1 {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in;
}
.w-span {
    font-size: 19px;
    font-weight: 600;
}
.w-2 {
    background-color: RGB(188, 243, 222);
}
.w-3 {
    background-color: RGB(177, 212, 255);
}
.w-4 {
    background-color: RGB(254, 231, 178);
}
.why-note {
    max-width: 750px;
    margin: 0 auto;
    font-size: 15px;
    padding-left: 90px;
    position: relative;
    font-weight: 300;
}
.why-note:before {
    content: '';
    width: 70px;
    height: 70px;
    background: #fff0b9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
}
.why-note:after {
    content: '';
    background-repeat: no-repeat;
    background-position: -180px 0;
    background-size: 320px auto;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto;
    background-image: url('//www.zohowebstatic.com/sites/zweb/images/zeptomail/zeptomail-home-sprite.png');
}
/*  */
.section-5 {
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width: 1050px;
    display: flex;
}
.table-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 140px 0;
}
.table-media-inner img {
    width: 500px;
    position: relative; 
}
.anim-1 {
    width: 90px;
    height: 90px;
    background: #ffc9d8;
    border-radius: 15px;
    position: absolute;
    top: -2%;
    right: 51%;
    bottom: 0;
    margin: auto;
    transform: translateX(50px);
    transition: transform .7s ease 1s,opacity .7s ease 1s,-webkit-transform .7s ease 1s;
}
.anim-1 img {
    width: 60px;
    height: 60px;
    margin-top: 14px;
    margin-left: 10px;
}
.table-box .notification-bell {
    top: 59%;
    right: 51%;
}      
.table-media-inner:before {
    content: '';
    width: 1px;
    height: 70%;
    box-shadow: 10px 10px 70px 5px rgb(0 0 0 / 30%);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.table-contant {
    margin-top: 201px;
}
.table-con {
    margin-left: 45%;
}
.table-contant h1 {
    font-size: 38px;
    margin-bottom: 15px;
    line-height: 47px;    
}
.table-contant .c-p {
    text-align: start;
}
.table-contant p {
    font-size: 17px;
    line-height: 1.6;
    margin: 0 0 20px;
}
